body {
    margin: 0;
  }
  
  #banner {
    background-color: #b9b4b4bb;
    background-image: url('fruehling-f-157514845s-jpg--81698-.jpg');
    background-position: center;
    background-size: cover;
    padding: 10vh 10px;
    text-align: center;
    color:black;
    font-family: "Happy Monkey";
  }

  body {
    margin: 0;
    text-align: center;
  }

  .row {
    display: flex;
  }

  .column {
    flex: 1;
  }

  .button4 {
    padding: 60px 40px;
    border-radius: 8px;
    background-color:rgb(245, 238, 180);
    margin: 20px;
    }
    

  .section {
    align-items: center;
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
  }
  
  .section svg {
    border: 1px solid red;
    flex: 2;
    height: 300px;
    margin: 20px;
  }

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #2d6eb8;}

  #tooltip {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    padding: 5px;
    position: absolute;
  }

  .map {
    background: transparent;
    border: red
  }

  
  
  
