  
  #banner {
    background-image: url('happiness_crop.jpg');
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10vh 10px;
    text-align: center;
    color:black; 
    font-family: "Happy Monkey";
  }

  #border {
    border-style:solid;
    border-color:#34ce26;
    border-width: thick;
    background-color:#81c77a;
    padding: 13.97vh 13.97px;
   }
  
  body {
    margin: 0;
    text-align: center;
    font-family: "Happy Monkey"
  }

  .row {
    display: flex;
  }

  .column {
    flex: 1;
  }

  .button4 {
    padding: 80px 40px;
    border-radius: 8px;
    background-color:rgb(247, 191, 247);
    margin: 20px;
    font-family: "Happy Monkey";
    font-size: 20px;
    }
    
  .section {
    text-align: left;
    align-items: center;
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
  }

  .dropbtn {
    border-color:#34ce26;
    border-width: thick;
    background-color:#81c77a;
    padding: 5px;
    font-size: 16px;
    font-family: "Happy Monkey";
    text-align: left;
  }
  
  .dropdown {
    margin: auto;
    position: relative;
    display: inline-block;
    display: flex;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #abb8f3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
    font-family: "Happy Monkey";
    text-align: center;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #2d6eb8;
  }

  #tooltip {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    padding: 5px;
    position: absolute;
    text-align: left;
  }

  .colorscale {
    position: relative;
    text-align: right;
    margin: 0;
    padding: 5vh 5px;
    display: flex;
    width: cover;
    left: 225px;
  }

  div.endtext {
    margin: auto;
    text-align: left;
    font-size: 14px;
    padding: 2vh 2px;
    padding-left: 25px;
    display: flex;
    background-size: 20%;
    width: 800px;
    border-style:solid;
    border-color:#34ce26;
    border-width: thick;
    background-color:#81c77a;
  }

  .links {
    margin: 0;
    text-align: left;
    font-size: 5px;
    border-style:solid;
    border-color:#c026ce;
    border-width: thick;
    background-color:#c76fcf;
    padding: .5vh .5px;
    position: relative;
  }

  #conclusion {
    background-image: url('conclusion.jpg');
    height: 55px;
    background-position: center;
    padding: 10vh 10px;
    text-align: center;
    color:black; 
    font-family: "Happy Monkey";
    margin: 0;
  }

  .end {
    background-color: coral;
    height: 10px;
  }

  
  
  
