  
  #banner {
    background-image: url('happiness_crop.jpg');
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10vh 10px;
    text-align: center;
    color:black; 
    font-family: "Happy Monkey";
  }
  #border {
    border-style:solid;
    border-color:#34ce26;
    border-width: thick;
    background-color:#81c77a;
    padding: 11vh 11px;
   }
  

  body {
    margin: 0;
    text-align: center;
    font-family: "Happy Monkey"
  }

  
  .row {
    display: flex;
  }

  .column {
    flex: 1;
  }

  .button4 {
    padding: 80px 40px;
    border-radius: 8px;
    background-color:rgb(247, 191, 247);
    margin: 20px;
    font-family: "Happy Monkey";
    font-size: 20px;
    }
    

  .section {
    align-items: center;
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
  }

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "Happy Monkey";
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #abb8f3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
    font-family: "Happy Monkey";
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #2d6eb8;}

  #tooltip {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    padding: 5px;
    position: absolute;
    text-align: left;
  }

  .endtext {
    position:absolute;
    text-align: left;
    padding: 16px;
  }

  
  
  
